
    
      .color{
          
          background-color: royalblue;
        
         padding: 10px; 
         font-size: 20px;
          text-align: center;
          
         margin-bottom: 200px;
          
       
        justify-content: center;
        align-items: center;
      }
      
      
      .color:hover {
          
          background-color: palevioletred;
            border-bottom: solid 2px #000;
      }
      
      
      
       .zakrec{
          
          background-color: royalblue;
        
         padding: 10px; 
         font-size: 20px;
          text-align: center;
          
         margin-bottom: 200px;
          
       
        justify-content: center;
        align-items: center;
      }
      
      
      .zakrec:hover {
          
          background-color: firebrick;
          border-bottom: solid 2px #000;
      }
      
      
      
      .wstaw{
          
          background-color: royalblue;
        
         padding: 10px; 
         font-size: 20px;
          text-align: center;
          
         margin-bottom: 200px;
          
       
        justify-content: center;
        align-items: center;
      }
      
      
      .wstaw:hover {
          
          background-color: cyan;
          border-bottom: solid 2px #000;
      }
      
      img {
          
          margin: 30px; 
          padding: 
      }
      
      #change_me {
          
          position: absolute; 
          top: 100px;
          left: 400px;
          font: 24px;
          font-family: arial;
      }
    
 